
@import 'shared.scss';

#close {
    color: $red-color;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: $background-color;

    .App {
        max-width: 450px;
        padding: 20px;
        h1 {
            margin: 3rem 0;
            text-align: center;
            animation: 2s linear 0s infinite alternate animTitle;
            font-size: 1.5rem;
            span {
                color: $primary-color;
            }
        }

        @keyframes animTitle {
            from {
               transform: rotate(5deg);
            }
            to {
                transform: rotate(-5deg);
            }
        }

        .cardQuizz {
            display: block;
            text-decoration: none;
            margin-bottom: 2rem;
            border-radius: 27px;
            border: solid $secondary-color 3px;
            overflow: hidden;

            .cadreImage {
                overflow: hidden;
                height: 13rem;
                img{
                    width: 100%;
                }
            }

            h2 {
                text-align: center;
                font-size: 1rem;
                margin: .5rem;
            }
        }

        .info {
            animation-name: appear;
            animation-duration: .5s;
        }

        @keyframes appear {
            from {
               opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .choices {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 300px;

            .answer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: solid $secondary-color 3px;
                border-radius: 18px;
                margin-bottom: 1.5rem;
                transition: color .3s, margin .4s, height .4s, opacity .4s;
                height: 43px;

                &.disapear {
                    margin: 0;
                    border-width: 0;
                    height: 0;
                    opacity: 0;
                }
    
                p {
                    margin: .6rem;
                    font-size: 1.2rem;
                }
    
                .selector {
                    width: 25px;
                    height: 25px;
                    border: solid $secondary-color 3px;
                    border-radius: 50%;
                    margin-right: .6rem;
                }
    
                .check, .close {
                    width: 32px;
                    height: 32px;
                    margin-right: .6rem;
                }
    
                .check {
                    color: $green-color;
                }
    
                .close {
                    color: $red-color;
                }
            }
    
            .good {
                border: solid $green-color 3px;
            }
    
            .notGood {
                border: solid $red-color 3px;
            }
        }
        

    }

}

